.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.FridgeDoor {
  margin: auto;
  position: relative;
  background-color: white;
  height: 100vh;
  display: inline-block;
}

.fridge-door-image {
  height: 100%;
}

.agenda-note-image {
  position: absolute;
  right: 43%;
  top: 32%;
}


.recipeList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paper-card {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important;
  text-align: center;
}

div.header {
  background-color: #f75b5b;
  color: white;
  padding: 10px;
  font-size: 40px;
}

div.container {
  padding: 10px;
}


/* 
.click-area {
  color: black;
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 25%;
  border: 1.5px solid black;
  border-radius: 100%;
  width: 50%;
  height: 50%;
} */
